body{
font-family:"Norwester,sans-serif";
background-image:url("pic10.png");
background-repeat: no-repeat;
background-size: 41cm 20cm;
}

.topnav {
  background-color: #4F5765;
  overflow: hidden;
}
.topnav a {
float: Right;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
background-color: #04AA6D;

}
.topnav a:hover {
background-color:#ffd90b;
 color: white;
 
}
.topnav a:active {
  background-color: #04AA6D;
  
}
.center {
  display: block;
  margin-left: 18%;
  margin-right: 18%;
  width: 11%;
}
